body {
    font-family: Arial;
    margin: 0;
    padding: 20px
}
h1 {
    text-align: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.image-grid img {
    width: 100%; 
    height: auto; 
    border-radius: 3px;
    transition: transform .2s;
}
.image-grid img:hover {
    transform: scale(1.75);
}